* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(https://images.unsplash.com/photo-1657828513890-8617428e2214?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  background-position: center;
}

#app {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}
#form {
  display: flex;
  gap: 20px;
}
.holder {
  font-size: 35px;
}

.entry {
  background: rgba(59, 74, 107, 0.4);
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 20px;
}

input {
  display: block;
  font-size: 18px;
  height: 50px;
  width: 200px;
  padding: 0px 10px;
  background: #22b2da;
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
  border: none;
  border-radius: 10px;
}

button {
  display: block;
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: #3b4a6b;
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
}
h1 {
  font-size: 50px;
}

textarea {
  display: block;
  font-size: 18px;
  background: #22b2da;
  width: 200px;
  height: 50px;
  padding: 8px 10px;
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
  border-radius: 10px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}
